[Unit]
Description=rpi-setup-loop - set up file on loop device
DefaultDependencies=no
Requires=sysinit.target
After=sysinit.target

[Service]
Type=oneshot
ExecStart=/sbin/losetup -f /%I
ExecStop=/sbin/losetup -d /dev/disk/by-backingfile/%i
RemainAfterExit=yes
