Source: rpi-zram-swap
Section: embedded
Priority: optional
Maintainer: Richard Oliver <richard.oliver@raspberrypi.com>
Build-Depends: debhelper (>=13), debhelper-compat (= 13)
Standards-Version: 3.9.5
Homepage: https://www.raspberrypi.com/software

Package: rpi-loop-utils
Architecture: all
Depends: systemd
Description: loop device utilities
 This package provides udev rules to automatically create/destroy
 /dev/disk/by-backingfile/ symlinks for loop devices. The templated systemd
 unit rpi-setup-loop@.service (for setting up/tearing down loop devices) is
 also provided.

# A temporary package just for experimentation purposes
Package: rpi-resize-var-swap-service
Architecture: all
Depends: rpi-symlink-loop-devices
Provides: dphys-swapfile
Conflicts: dphys-swapfile
Replaces: dphys-swapfile
Description: resizes /var/swap on boot
 Oneshot service that resizes swap file
