[Unit]
Description=rpi-loop-var-swap - set up /var/swap on loop device
DefaultDependencies=no
Conflicts=dphys-swapfile.service
Requires=systemd-udevd.service
After=systemd-udevd.service

[Service]
Type=oneshot
ExecStart=/sbin/losetup -f /var/swap
ExecStop=/sbin/losetup -d /dev/disk/by-backingfile/-var-swap
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
