[Unit]
Description=rpi-zram-swap - set up swap file on loop device
DefaultDependencies=no
Requires=rpi-loop-var-swap.service
After=rpi-loop-var-swap.service
Before=systemd-zram-setup@zram0.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
RequiredBy=systemd-zram-setup@zram0.service
